{% extends "base.html" %}

{% block style%}
<style>


  .wrapper {
    background-color: #fcfcfc;
  }
  .wrapper {
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    width: 400px;
  }


  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .inputs {
    width: 335px;
  }

</style>
{% endblock %}

{% block content %}

<br>
<br>
<br>
<br>

<div class="container wrapper text-right px-0 py-3">

  <div class="text text-center py-2">
    <h4>خوش آمديد</h4>
    <p>برای ورود نام کاربری و رمز عبور خود را وارد کنید</p>
  </div>
  <div class="inputs m-auto center py-3">
    <form class="d-flex flex-column w-100" action="{% url 'login' %}" method="post">
      {% csrf_token %}
      <div class="username mb-2 form-group">
        <input class="form-control inputs" type="text" name="username" required placeholder="نام کاربری" {% if username %} value="{{username}}" {% endif %}>
        <!-- {{form.username}} -->
      </div>

      <div class="password mb-4 form-group">
        <input class="form-control inputs" type="password" name="password" required placeholder="رمز عبور" {% if password %} value="{{password}}" {% endif %}>
        <!-- {{form.password}} -->
        <div class="invalid-feedback message">
          {{message}}
          <!-- {{form.error}} -->
        </div>
      </div>

      <div class="submit center">
        <input type="hidden" name="next" value="{{request.GET.next}}" />
        <input class="btn btn-primary btn-block" type="submit" value="Log In">
      </div>
    </form>



  </div>

</div>

{% if message %}
<script>
$('.inputs').addClass('is-invalid')
</script>
{% endif %}

{% endblock %}
